## Whitespace Formatting

In [7]:
for i in [1, 2, 3, 4, 5]:
    print(i)
    for j in [1, 2, 3, 4, 5]:
        print(j)
        print(i + j)
    print(i)
print("done looping")

1
1
2
2
3
3
4
4
5
5
6
1
2
1
3
2
4
3
5
4
6
5
7
2
3
1
4
2
5
3
6
4
7
5
8
3
4
1
5
2
6
3
7
4
8
5
9
4
5
1
6
2
7
3
8
4
9
5
10
5
done looping

In [10]:
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 + 13 + 14 + 15 + 16 + 17 + 18 + 19 + 20)
long_winded_computation

210

In [13]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [16]:
easier_to_read_list_of_lists = [ [1, 2, 3],
                                 [4, 5, 6],
                                 [7, 8, 9] ]
easier_to_read_list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
two_plus_three = 2 + \
                 3
two_plus_three

5

In [22]:
for i in [1, 2, 3, 4, 5]:
    # notice the blank line
    print(i)

1
2
3
4
5

## Modules

In [24]:
import re
my_regex = re.compile("[0-9]+", re.I)
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [26]:
import re as regex
my_regex = regex.compile("[0-9]+", regex.I)
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [28]:
import matplotlib.pyplot as plt

In [33]:
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

lookup
my_counter

Counter()

In [36]:
match = 10
from re import *
print(match)

<function match at 0x7f4646cb30d0>

## Arithmetic

In [38]:
from __future__ import division

## Functions

In [41]:
def double(x):
    """this is where you put an optional docstring
    that explains what the function does.
    for example, this function multiplies its input by 2"""
    return x * 2

double(400)

800

In [101]:
def apply_to_one(f):
    """calls the function f with 1 as its argument"""
    return f(1)

my_double = double
x = apply_to_one(my_double)

x

2

In [100]:
y = apply_to_one(lambda x: x + 4)

y

5

In [50]:
# don't do this
another_double = lambda x: 2 * x
# do this instead
def another_double(x): return 2 * x

In [60]:
def my_print(message="my default message"):
    print(message)
    # my_print("hello")
    # my_print()
my_print()

my default message

In [99]:
def subtract(a=0, b=0):
    return a - b

print(subtract(10, 5)) # returns 5
print(subtract(0, 5)) # returns -5
print(subtract(b=5))

5
-5
-5

In [98]:
single_quoted_string = 'data science'
double_quoted_string = "data science"

print(single_quoted_string)
print(double_quoted_string)

data science
data science

In [67]:
tab_string = "\t"
len(tab_string)

1

In [69]:
not_tab_string = r"\t"
len(not_tab_string)

2

In [71]:
multi_line_string = """This is the first line.
and this is the second line
and this is the third line"""

print(multi_line_string)

'This is the first line.\nand this is the second line\nand this is the third line'

## Exceptions

In [74]:
try:
    print(0 / 0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

## Lists

In [97]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [ integer_list, heterogeneous_list, [] ]
list_length = len(integer_list)
list_sum = sum(integer_list)

print(integer_list)  
print(heterogeneous_list)
print(list_of_lists)  
print(list_length) 
print(list_sum)

[1, 2, 3]
['string', 0.1, True]
[[1, 2, 3], ['string', 0.1, True], []]
3
6

In [90]:
x = range(10)
zero = x[0]
one = x[1]
nine = x[-1]
eight = x[-2]

print(x) 
print(zero) 
print(one) 
print(nine) 
print(eight)

range(0, 10)
0
1
9
8

In [92]:
first_three = x[:3]
three_to_end = x[3:]
one_to_four = x[1:5]
last_three = x[-3:]
without_first_and_last = x[1:-1]
copy_of_x = x[:]

print(first_three) 
print(three_to_end)
print(one_to_four) 
print(last_three) 
print(without_first_and_last)
print(copy_of_x)

range(0, 3)
range(3, 10)
range(1, 5)
range(7, 10)
range(1, 9)
range(0, 10)

In [103]:
a = 1 in [1, 2, 3]
b = 0 in [1, 2, 3]

print(a)
print(b)

True
False

In [106]:
x = [1, 2, 3]
x.extend([4, 5, 6])
x

[1, 2, 3, 4, 5, 6]

In [109]:
x = [1, 2, 3]
y = x + [4, 5, 6]
y

[1, 2, 3, 4, 5, 6]

In [111]:
x = [1, 2, 3]
x.append(0)
x

[1, 2, 3, 0]

In [114]:
y = x[-1]
z = len(x)

print(y)
print(z)

0
4

In [118]:
x, y = [1, 2]

print(x)
print(y)

1
2

In [125]:
_, y = [1, 2]
print(_)
print(y)

1
2

## Tuples

In [131]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3

print(my_list)
print(my_tuple) 
print(other_tuple)
print(my_list[1])
print(other_tuple[0], other_tuple[1])

[1, 3]
(1, 2)
(3, 4)
3
3 4